<footer class="footer">
    <div class="container-fluid text-center">
        <span class="text-muted">Copyright &copy; 2020 Dirección Regional de Salud Cajamarca. Todos los derechos reservados</span>
    </div>
    <div class="container-fluid text-center">
        <span class="text-muted">Diseñado y programado por la Oficina de Informática, Estadística y Telecomunicaciones</span>
    </div>
    <div class="container-fluid text-center">
        <a href="http://www.diresacajamarca.gob.pe" target="_blank">www.diresacajamarca.gob.pe</a>
    </div>
</footer>