<section id="changePassword" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form #formChangePassword="ngForm" (ngSubmit)="validarPassword()">
                                <h4 class="h4 mb-4 font-weight-normal">CAMBIAR CONTRASEÑA</h4>
                                <div class="alert alert-primary" *ngIf="!isError" role="alert">
                                    <h5 class="alert-heading">¡IMPORTANTE!</h5>
                                    <p>Por motivos de seguridad es necesario cambiar la contraseña.</p>
                                </div>
                                <div class="alert alert-success" role="alert" *ngIf="isSuccess">
                                    {{msgSuccess}}
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="isError">
                                    {{msgError}}
                                </div>
                                <div class="form-group">
                                    <h6 style="text-align: left;">DNI:</h6>
                                    <input type="text" #dni="ngModel" name="dni" class="form-control" placeholder="DNI" [(ngModel)]="datos.dni" [disabled]="true" required />
                                </div>
                                <div class="form-group is-invalid was-validated">
                                    <h6 style="text-align: left;">Contraseña nueva:</h6>
                                    <input type="password" #passwordNuevo="ngModel" name="passwordNuevo" class="form-control is-invalid" placeholder="Ingresar contraseña nueva" [(ngModel)]="datos.passwordNuevo" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$" maxlength="15"
                                        [disabled]="isError" required />
                                    <div class="valid-feedback text-left" *ngIf="passwordNuevo.valid">
                                        CONTRASEÑA VÁLIDA
                                    </div>
                                    <div class="invalid-feedback" *ngIf="!passwordNuevo.valid">
                                        <div class="text-left">
                                            <div>* MÍNIMO 8 CARACTERES<br></div>
                                            <div>* AL MENOS 1 LETRA MAYÚSCULA<br></div>
                                            <div>* AL MENOS 1 LETRA MINÚSCULA<br></div>
                                            <div>* AL MENOS 1 NÚMERO<br></div>
                                            <div>* AL MENOS 1 CARACTER ESPECIAL<br></div>
                                            <div>* NO SE PERMITEN ESPACIOS<br></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group is-invalid was-validated">
                                    <h6 style="text-align: left;">Contraseña nueva (confirmación):</h6>
                                    <input type="password" #replyPassword="ngModel" name="replyPpassword" class="form-control is-invalid" placeholder="Confirmar contraseña nueva" [(ngModel)]="datos.replyPassword" [(disabled)]="!passwordNuevo.valid" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$"
                                        maxlength="15" [disabled]="isError" required />
                                    <div class="valid-feedback text-left" *ngIf="replyPassword.value == passwordNuevo.value">
                                        CONTRASEÑAS COINCIDEN
                                    </div>
                                    <div class="invalid-feedback text-left" *ngIf="replyPassword.value != passwordNuevo.value">
                                        CONTRASEÑAS NO COINCIDEN
                                    </div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!formChangePassword.valid">ACTUALIZAR CONTRASEÑA</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>