<section id="changePassword" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form #formChangePassword="ngForm" (ngSubmit)="validarPassword()">
                                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">ACTUALIZAR CONTRASEÑA</h1>
                                <div class="alert alert-success" role="alert" *ngIf="isSuccess">
                                    {{msgSuccess}}
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="isError">
                                    {{msgError}}
                                </div>
                                <div class="form-group">
                                    <input type="text" #dni="ngModel" name="dni" class="form-control" placeholder="DNI" [(ngModel)]="datos.dni" [disabled]="true" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" #password="ngModel" name="password" class="form-control" placeholder="NUEVA CONTRASEÑA" [(ngModel)]="datos.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]{8,15}$" maxlength="15" required />
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
                                    <div *ngIf="password.errors.required">LA CONTRASEÑA ES UN CAMPO OBLIGATORIO</div>
                                    <div *ngIf="password.errors.pattern">
                                        <div class="text-left">
                                            <div>* MÍNIMO 8 CARACTERES<br></div>
                                            <div>* AL MENOS 1 LETRA MAYÚSCULA<br></div>
                                            <div>* AL MENOS 1 LETRA MINÚSCULA<br></div>
                                            <div>* AL MENOS 1 NÚMERO<br></div>
                                            <div>* AL MENOS 1 CARACTER ESPECIAL<br></div>
                                            <div>* NO SE PERMITEN ESPACIOS<br></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="password" #replyPpassword="ngModel" name="replyPpassword" class="form-control" placeholder="CONFIRMAR CONTRASEÑA" [(ngModel)]="datos.replyPassword" maxlength="15" required />
                                </div>
                                <div class="alert alert-danger" role="alert" *ngIf="replyPpassword.touched && !replyPpassword.valid">
                                    <div *ngIf="replyPpassword.errors.required">LA CONTRASEÑA ES UN CAMPO OBLIGATORIO</div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!formChangePassword.valid">ACTUALIZAR CONTRASEÑA</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>