<p-panel header="SELECCIONE LOS CRITERIOS DE BUSQUEDAD" [toggleable]="true">
    SUBREGION <p-dropdown [options]="subregion" [(ngModel)]="subregionselect"  placeholder="Selecciona Provincia"></p-dropdown>
    RED <p-dropdown [options]="subregion" [(ngModel)]="subregionselect"  placeholder="Selecciona Provincia"></p-dropdown>
    MICRORED <p-dropdown [options]="subregion" [(ngModel)]="subregionselect"  placeholder="Selecciona Provincia"></p-dropdown>
    IPRESS <p-dropdown [options]="subregion" [(ngModel)]="subregionselect"  placeholder="Selecciona Provincia"></p-dropdown>
</p-panel>