<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_register">
                    <div class="card">
                        <div class="card-body text-center">
                            <form action="">
                                <h1 class="h3 mb-3 font-weight-normal">REGISTRAR USUARIO</h1>
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="form-control" required>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>