<div class="row mt-5 mb-5">
    <div class="col table-responsive-xl">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="text-align: center;" scope="col">DNI</th>
                    <th style="text-align: center;" scope="col">Apellido Paterno</th>
                    <th style="text-align: center;" scope="col">Apellido Materno</th>
                    <th style="text-align: center;" scope="col">Nombres</th>
                    <th style="text-align: center;" scope="col">Email</th>
                    <th style="text-align: center;" scope="col">Tipo de ambito</th>
                    <th style="text-align: center;" scope="col">Descripción de ambito</th>
                    <th style="text-align: center;" scope="col">Estado</th>
                    <th style="text-align: center;" scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios | paginate: {itemsPerPage: 10, currentPage: pageActual}; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ usuario.dni }}</td>
                    <td>{{ usuario.apellido_paterno }}</td>
                    <td>{{ usuario.apellido_materno }}</td>
                    <td>{{ usuario.nombres }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.tipo_ambito }}</td>
                    <td>{{ usuario.descripcion_ambito }}</td>
                    <td>{{ usuario.estado }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="acciones">
                            <p-toast [style]="{marginTop: '40px'}"></p-toast>
                            <button type="button" class="btn btn-primary" (click)="onPreUpdate(usuario)" data-toggle="modal" data-target="#ModalNew">Modificar</button>
                            <button type="button" class="btn btn-warning" (click)="cambiarEstado(usuario)">{{usuario.estado == 'ACTIVO' ? 'Inactivar' : 'Activar'}}</button>
                            <button type="button" class="btn btn-danger" (click)="restablecerPassword(usuario)">Restablecer</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>
<app-modal></app-modal>