<div class="row mt-5 mb-5">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th scope="col">DNI</th>
                    <th scope="col">APELLIDO PATERNO</th>
                    <th scope="col">APELLIDO MATERNO</th>
                    <th scope="col">NOMBRES</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">TIPO DE AMBITO</th>
                    <th scope="col">DESCRIPCION DE AMBITO</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios | paginate: {itemsPerPage: 10, currentPage: pageActual}; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ usuario.dni }}</td>
                    <td>{{ usuario.apellido_paterno }}</td>
                    <td>{{ usuario.apellido_materno }}</td>
                    <td>{{ usuario.nombres }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.tipo_ambito }}</td>
                    <td>{{ usuario.descripcion_ambito }}</td>
                    <td>{{ usuario.estado }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="acciones">
                            <button type="button" class="btn btn-primary" (click)="onPreUpdate(usuario)" data-toggle="modal" data-target="#ModalNew">MODIFICAR</button>
                            <button type="button" class="btn btn-warning" (click)="cambiarEstado(usuario)">{{usuario.estado == 'ACTIVO' ? 'DESACTIVAR' : 'ACTIVAR'}}</button>
                            <button type="button" class="btn btn-danger" (click)="restablecerPassword(usuario)">RESTABLECER</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
</div>
<app-modal></app-modal>