<p-panel header="CARGAS HIS" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
   
    <p-panel header="Maestro Paciente">
        <p-fileUpload name="archivopaciente" [(url)]="urlPac" chooseLabel="Elegir Archivo" 
        uploadLabel="Cargar Archivo" cancelLabel="Cancelar" (onSelect)="seleccionarArchivo()" 
        [(headers)]="headers" (onUpload)="cargoPaciente($event)" (onSend)="envioPaciente()" 
        #mpa></p-fileUpload>
        <div>
            <p-messages  key='mensajeMaestroPaciente'></p-messages>
        
        </div>
    </p-panel>
    <p-panel header="Maestro Personal">
         <p-fileUpload name="archivopersonal" [(url)]="urlPer" chooseLabel="Elegir Archivo"
          uploadLabel="Cargar Archivo" cancelLabel="Cancelar" (onSelect)="seleccionarArchivo()"
          (onUpload)="cargoPersonal($event)"
          #mpe></p-fileUpload>
          <div>
            <p-messages  key='mensajeMaestroPersonal'></p-messages>
        </div>
    </p-panel>
    <p-panel header="Maestro Registrador">
        <p-fileUpload name="archivoregistrador" [(url)]="urlReg" chooseLabel="Elegir Archivo"
         uploadLabel="Cargar Archivo" cancelLabel="Cancelar" (onSelect)="seleccionarArchivo()"
         (onUpload)="cargoRegistrador($event)"
         #mre
         ></p-fileUpload>
         <div>
            <p-messages  key='mensajeMaestroRegistrador'></p-messages>
        </div>
   </p-panel>
   <p-panel header="Reporte Plano" >
          
        <p-fileUpload name="archivoreporteplano" [(url)]="urlRep" chooseLabel="Elegir Archivo" 
           uploadLabel="Cargar Archivo" cancelLabel="Cancelar" (onSelect)="seleccionarArchivo()"
        [(headers)]="headers" (onUpload)="cargoReporte($event)"
        #mrp></p-fileUpload>

        <div>
            <p-messages  key='mensajeMaestroRpt'></p-messages>
        </div>
    </p-panel>
    <div class="center-block" style="text-align: center;">
        <p-button label="Ejecutar Control de Calidad" class="boton" (onClick)="llamar_control_his()" #bc disabled=true></p-button>
        <p-button label="Generar Reportes"  class="boton" #br disabled=true></p-button>
      
    </div>
    
</p-panel>
<p-toast showTransitionOptions="700ms ease-out"></p-toast>
