<p-panel header="CARGAS HIS" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
   
    <p-panel header="Maestro Paciente">
        <p-fileUpload name="myfile[]" url="./upload.php" chooseLabel="Elegir Archivo" uploadLabel="Cargar Archivo" cancelLabel="Cancelar"></p-fileUpload>
    </p-panel>
    <p-panel header="Maestro Personal">
         <p-fileUpload name="myfile[]" url="./upload.php" chooseLabel="Elegir Archivo" uploadLabel="Cargar Archivo" cancelLabel="Cancelar"></p-fileUpload>
    </p-panel>
    <p-panel header="Maestro Registrador">
        <p-fileUpload name="myfile[]" url="./upload.php" chooseLabel="Elegir Archivo" uploadLabel="Cargar Archivo" cancelLabel="Cancelar"></p-fileUpload>
   </p-panel>
   <p-panel header="Reporte Plano">
    <p-fileUpload name="myfile[]" url="./upload.php" chooseLabel="Elegir Archivo" uploadLabel="Cargar Archivo" cancelLabel="Cancelar"></p-fileUpload>
    </p-panel>
</p-panel>
