.grilla{
    display: flex;
    flex-wrap: wrap;
    width: 1800px;
   
    border: 1px solid black;
}


  .grilla div{
   
  }
  .item{
     font-size: 10px; 
     visibility: visible;
   
     width: 80px;;
     height: 30px;

  }
  
.item27{
    width: 50px;
    text-align: justify;

}