<div class="ui-g container banner">
    <div class="titulosub ui-g-12">
        {{ nombretipoambito }}: {{ nombreambito }}
    </div>
</div>
<div class="container cuerpo">
    <div class="alert alert-primary justify-content-center" role="alert">
        <div class="text-center">
            REPOSITORIO DE INFORMACION DE SALUD CAJAMARCA
        </div>
        <app-menu-principal [punto_digitacion]="punto_digita" [(ano)]="ano" [(mes)]="mes"></app-menu-principal>
    </div>

    <router-outlet></router-outlet>
</div>