<div class="container cuerpo mt-5 mb-5">
    <div class="ui-g container banner">
        <div class="titulosub ui-g-12">
            TIPO DE AMBITO : {{ tipo_ambito }} <br /> DESCRIPCION DE AMBITO : {{ descripcion_ambito }}
        </div>
    </div>
    <div class="alert alert-primary justify-content-center" role="alert">
        <div class="text-center">
            REPOSITORIO DE INFORMACION DE SALUD CAJAMARCA
        </div>
        <app-menu-principal [punto_digitacion]="currentUser.descripcion_ambito" [(ano)]="ano" [(mes)]="mes"></app-menu-principal>
    </div>
    <router-outlet></router-outlet>
    <br />
</div>