<p>LISTADO DE IPRESS</p>
<div class="formulario">
<router-outlet></router-outlet>

</div>
<div class="row">
    <div class="col-1">Id_Establecimiento</div>
    <div class="col-2">Nombre_Establecimiento</div>
    <div class="col-1">Codigo_Unico</div>
    <div class="col-2">Provincia</div>
    <div class="col-2">Distrito</div>
    <div class="col-1">Red</div>
    <div class="col-1">Microred</div>
    <div class="col-1"><button routerLink="nuevo">Nuevo</button></div>

</div>
<div class="row text-1" *ngFor="let estble of lista_establecimientos">
    <div class="col-1">{{estble.Id_Establecimiento}}</div>
    <div class="col-2">{{estble.Nombre_Establecimiento}}</div>
    <div class="col-1">{{estble.Codigo_Unico}}</div>
    <div class="col-2">{{estble.Provincia}}</div>
    <div class="col-2">{{estble.Distrito}}</div>
    <div class="col-1">{{estble.Red}}</div>
    <div class="col-1">{{estble.Microred}}</div>
    <div class="col-1"><button>Editar</button></div>
</div>
<br>

<br><br><br><br><br><br>