<section id="profile" class="container mb-5">
    <div class="row mt-5">
        <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-details">
                <div class="col-12">
                    <img src="../../../../assets/user_profile.jpg" class="rounded-circle img-thumbnail" alt="profile" />
                    <h5 class="text-center">DNI: {{ user.dni }}</h5>
                    <hr />
                    <p class="text-center">NOMBRES: {{ user.nombres }}</p>
                    <p class="text-center">APELLIDOS: {{ user.apellido_paterno }} {{ user.apellido_materno }}</p>
                    <p class="text-center">EMAIL: {{ user.email }}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCP">CAMBIAR CONTRASEÑA</button>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-6">
                            <h5>TIPO DE AMBITO</h5>
                            <p>{{ user.tipo_ambito }}</p>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <h5>DESCRIPCION DE AMBITO</h5>
                            <p>{{ user.descripcion_ambito }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-modal-change-password></app-modal-change-password>